body{
    border: 10px solid ;
    border-color: white green white orange;
}
.sky{
    width: 100%;
    height: 95vh;
    background-image: url(./sky.jpg);
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    position: relative;
 
    /* border-left: goldenrod;
    border-right: #8f380a;
    border-top: teal;
    border-bottom:greenyellow ; */
}
.heading{
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
    
}
.h{
margin-right: 10px;
background-color: #df7817;
}
.i{
    margin-right: 10px;
    background-color: aliceblue;
    }
    .d{
        background-color: green;
        }
.flag{
    width: 100px;
    height: 100px;
    background-image: url(./flag.png);
    background-size: cover;
    position: absolute;
    right: 630px;
    bottom: 200px;
}

.road{
    width: 300%;
    height:200px;
    background-image: url(./road.jpg);
    background-size: cover;
    position: absolute;
    bottom: 0px;
    animation: road 5s infinite linear ;
    
}
@keyframes road {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(-400px,0);
    }
}
.car{
    position: absolute;
    bottom: 100px;
    left: 300px;
    z-index: 2;
    animation:car 1s  infinite alternate linear;
}
@keyframes car {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(0,-5px);
    }
}
.wheel{
    position: absolute;
    bottom: 107px;
    left: 336px;
  
}
.bake{
    animation: bake 1s infinite linear ;
    
}
@keyframes bake {
    0%{ transform:rotate(0deg)
 }
 100%{
  transform: rotate(360deg);
 }
 }
.frant{
    position: absolute;
    left: 245px;
    animation: wheel 1s infinite linear;
}
@keyframes wheel {
   0%{ transform:rotate(0deg)
}
100%{
 transform: rotate(360deg);
}
}
.wheel img{
    width: 70px;
    height: 70px;
}
.city{
    
  
    position: absolute;
    top: 90px;
    animation:city 3s linear infinite  ;
}
@keyframes city {
   0%{ transform: translate(0,0)
}
100%{
    transform: translate(-400px,0);
}
} 
.sun{
    width: 200%;
    height: 100px;
    position: absolute;
    left: 1100px;
    top: 70px;
    z-index: 3;
    animation: sun 25s infinite linear;
}
@keyframes sun {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(-400px,0);
    }
}